{% extends "::base.html.twig" %}
            {% block content %}
                
                <article>
                    <h2>comfirm account</h2>
                    <p>An email has been sent to {email}. To comfirm your registration go to your mailbox and
                        click on the comfimation link in the email.</p>
                </article>
            {% endblock %}